## Data Wrangling: League of Legends Ranked Games

##### Import Module / Libraries

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os

##### Loading CSV files into dataframes

In [3]:
champs = 'champs.csv'
champs_df = pd.read_csv(champs)

matches = 'matches.csv'
matches_df = pd.read_csv(matches)

participants = 'participants.csv'
participants_df = pd.read_csv(participants)

stats1 = 'stats1.csv'
stats1_df = pd.read_csv(stats1)

stats2 = 'stats2.csv'
stats2_df = pd.read_csv(stats2, low_memory=False)

bans = 'teambans.csv'
bans_df = pd.read_csv(bans)

teamstats = 'teamstats.csv'
teamstats_df = pd.read_csv(teamstats)

### Prepare Matches Dataframe

In [4]:
matches_df.head(2)

,id,gameid,platformid,queueid,seasonid,duration,creation,version
0,10,3187427022,EUW1,420,8,1909,1495068946860,7.10.187.9675
1,11,3187425281,EUW1,420,8,1693,1495066760778,7.10.187.9675

In [5]:
matches_df.duration = matches_df.duration * .01  # Convert duration to minutes

In [6]:
conditions = [ # Create list of current values
        matches_df.platformid == 'EUN1',
        matches_df.platformid == 'EUW1',
        matches_df.platformid == 'NA1',
        matches_df.platformid == 'TR1']
choices = ['Europe North', 'Europe West', 'North America', 'Turkey'] # Create list of new values

matches = matches_df[['platformid', 'seasonid', 'duration']].copy()

In [7]:
matches.platformid = np.select(conditions, choices) # Map conditions with choices
matches = matches.rename(index = str, columns = {"platformid": "Region","duration":"Duration","seasonid":'Season'}) #Rename columns

In [8]:
matches.head(2) # Confirm changes made

        Region  Season  Duration
0  Europe West       8     19.09
1  Europe West       8     16.93

In [27]:
path=r'/Users/Henry/Desktop/Springboard/Capstone Project/EDA' 
matches.to_csv(os.path.join(path,r'matches.csv')) # Export file to EDA folder

### Preparing Participants Dataframe

In [10]:
participants_df.head(2) # Explore dataframe

   id  matchid  player  championid  ss1  ss2         role position
0   9       10       1          19    4   11         NONE   JUNGLE
1  10       10       2         267    3    4  DUO_SUPPORT      BOT

In [11]:
participants_merged = pd.merge(participants_df, # Merge champions dataframe with participants dataframe
                               champs_df,how='inner', left_on='championid'
                               , right_on='id').sort_values(by =['matchid'])

participants_columns = participants_merged[['matchid', # Select columns
                                            'player',
                                            'position',
                                            'name']] 

participants = participants_columns.rename(index = str, #Rename columns
                                           columns = {"matchid": "Match ID",
                                                      "player":"Player",
                                                      "position":'Position',
                                                      "name": 'Champion'}) 

participants = participants.reset_index() # Reset index

participants = participants[['Match ID', 'Player', 'Position', 'Champion']] # Reselect columns

In [12]:
participants.head(2) # Confirm preparation

   Match ID  Player Position Champion
0        10       1   JUNGLE  Warwick
1        10       3      BOT   Draven

In [28]:
path=r'/Users/Henry/Desktop/Springboard/Capstone Project/EDA' 
participants.to_csv(os.path.join(path,r'participants.csv')) # Export file to EDA folder

### Preparing Team Bans

In [13]:
bans_df.head(2)

   matchid  teamid  championid  banturn
0       10     100          11        1
1       10     100         117        3

In [14]:
bans_merged = pd.merge(bans_df, # Merge champions dataframe with bans dataframe
                               champs_df,how='inner', left_on='championid'
                               , right_on='id').sort_values(by =['matchid'])
bans_columns = bans_merged[['matchid', # Select columns
                                            'banturn',
                                            'name']] 
bans = bans_columns.rename(index = str, #Rename columns
                                           columns = {"matchid": "Match ID",
                                                      "banturn":"Ban Turn",
                                                      "name": 'Champion'})

In [15]:
bans = bans.reset_index() # Reset index
bans = bans[['Match ID', 'Ban Turn', 'Champion']] # Reselect columns after resetting index

In [16]:
bans.head(2)

   Match ID  Ban Turn   Champion
0        10         1  Master Yi
1        10         6       Fizz

In [29]:
path=r'/Users/Henry/Desktop/Springboard/Capstone Project/EDA' 
bans.to_csv(os.path.join(path,r'bans.csv')) # Export file to EDA folder

### Preparing Individual Stats

In [17]:
stats1_df.head(2) # Explore stats1 dataframe

,id,win,item1,item2,item3,item4,item5,item6,trinket,kills,...,neutralminionskilled,ownjunglekills,enemyjunglekills,totcctimedealt,champlvl,pinksbought,wardsbought,wardsplaced,wardskilled,firstblood
0,9,0,3748,2003,3111,3053,1419,1042,3340,6,...,69,42,27,610,13,0,0,10,0,0
1,10,0,2301,3111,3190,3107,0,0,3364,0,...,1,1,0,211,14,1,0,17,3,0

In [18]:
stats2_df.head(2) # Explore stats2 dataframe

,id,win,item1,item2,item3,item4,item5,item6,trinket,kills,...,neutralminionskilled,ownjunglekills,enemyjunglekills,totcctimedealt,champlvl,pinksbought,wardsbought,wardsplaced,wardskilled,firstblood
0,1028382,0,1056,3001,1052,3020,1058,1026,3340,7,...,0,0,0,50,12,0,0,6,0,0
1,1028383,0,1041,2003,0,0,0,0,3340,0,...,11,11,0,114,3,0,0,0,0,0

In [19]:
stats = stats1_df.append([stats2_df]) # Union stats dataframes
stats.shape # Confirm union

(1834517, 56)

In [20]:
stats = stats[['id', 'win', 'kills', # Select Columns
               'neutralminionskilled','ownjunglekills','enemyjunglekills',
               'totcctimedealt', 'champlvl', 'pinksbought','wardsbought','wardsplaced','wardskilled','firstblood']]

In [30]:
stats.head(2)

,id,win,kills,neutralminionskilled,ownjunglekills,enemyjunglekills,totcctimedealt,champlvl,pinksbought,wardsbought,wardsplaced,wardskilled,firstblood
0,9,0,6,69,42,27,610,13,0,0,10,0,0
1,10,0,0,1,1,0,211,14,1,0,17,3,0

In [31]:
path=r'/Users/Henry/Desktop/Springboard/Capstone Project/EDA' 
stats.to_csv(os.path.join(path,r'stats.csv')) # Export file to EDA folder

### Preparing Team Stats

In [22]:
teamstats_df.head(2)

,matchid,teamid,firstblood,firsttower,firstinhib,firstbaron,firstdragon,firstharry,towerkills,inhibkills,baronkills,dragonkills,harrykills
0,10,100,0,1,0,0,0,0,5,0,0,0,0
1,10,200,1,0,1,1,1,1,10,3,1,3,1

In [32]:
path=r'/Users/Henry/Desktop/Springboard/Capstone Project/EDA' 
teamstats_df.to_csv(os.path.join(path,r'teamstats.csv')) # Export file to EDA folder